.articleBox ::deep {
  padding: 0 20ch;
  article {
    width: 100%;
    min-height: 10rem;
    border-radius: 2rem;
    color: white;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
    padding: 3rem;
  }
}