@page "/"

<PageTitle>Star Clicker</PageTitle>

<div class="articleBox">
    <article>
        <h4>Star Clicker - 0.1v</h4>
        <p>
            Star Clicker has been released as alpha version 0.1v, I encourage you to contact me to give feedback and I hope you like the game, gl hf.
        </p>
    </article>
</div>