@inherits LayoutComponentBase

<PageTitle>StarClicker</PageTitle>

@using StarClicker.Data
@implements IDisposable
@inject ClickerData _clickerData

@code {
    private string _hDisplay = "-H";
    private string _heDisplay = "-He";

    private bool assigned = false;
    
    private async void ValueChange()
    {
        _hDisplay = _clickerData.HydrogenCountText;
        _heDisplay = _clickerData.HeliumCountText;
        await InvokeAsync(StateHasChanged);
    }
    
    protected override void OnInitialized()
    {
        _clickerData.Start();
        async void TryToInit ()
        {
            while (!assigned)
            {
                if (_clickerData?.OnUpdate != null)
                {
                    _clickerData.OnUpdate += ValueChange;
                    assigned = true;
                }
                await Task.Delay(100);
            }
        }
        TryToInit();
    }

    public void Dispose()
    {
        if(_clickerData?.OnUpdate != null)
            _clickerData.OnUpdate -= ValueChange;
    }
}

<div class="container">
    <header>
        <h1>Star Clicker</h1>
        <NavLink href="/"><i class="fas fa-home"></i></NavLink>
        <NavLink href="/Game"><i class="fas fa-gamepad"></i></NavLink>
        <span id="hydrogenCount">
            @_hDisplay
            <span id="heliumCount">@_heDisplay</span>
        </span>
        <NavLink href="/Store">
            <i class="fas fa-shopping-cart"></i>
        </NavLink>
    </header>
    <main>
        @Body
    </main>
</div>
