@inherits LayoutComponentBase

<PageTitle>StarClicker</PageTitle>

<div class="header">
    <header>
        <NavLink href="/">Home</NavLink>
        <h1>Star Clicker</h1>
        <NavLink href="/">Store</NavLink>
    </header>
    <main>
        @Body
    </main>
</div>
